*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    min-width: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productImage{
    height: 70%;
    width: 50%;
    background-color: grey;
    border-radius: 10px;
}

.productImage img{
    object-fit: cover;
    border-radius: 10px;
}

.productDetails{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    width: 50%;
}

.info li{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.addToCart{
    font-size: 20px;
    margin: 40px;
    padding: 10px;
    width: 50%;
    height: 100px;
    border-radius: 10px;
    border: none;
    background-color: orange;
    color: white;
}






